.photo-grid {
  display: -ms-grid;
  display: grid;
  max-width: calc(100% - 96px);
  min-height: 671px;
  margin: 0 auto;
  padding: 92px 0;
  gap: 16px;
  -ms-grid-rows: minmax(-webkit-min-content, -webkit-max-content) 16px minmax(-webkit-min-content, -webkit-max-content) 16px minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-rows: minmax(min-content, max-content) 16px minmax(min-content, max-content) 16px minmax(min-content, max-content);
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) 16px minmax(-webkit-min-content, -webkit-max-content) 16px minmax(-webkit-min-content, -webkit-max-content) 16px minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) 16px minmax(min-content, max-content) 16px minmax(min-content, max-content) 16px minmax(min-content, max-content);
  grid-template: repeat(3, minmax(-webkit-min-content, -webkit-max-content))/repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template: repeat(3, minmax(min-content, max-content))/repeat(4, minmax(min-content, max-content));
}