.places {
  max-width: calc(100% - 23.125%);
  margin: 0 auto;
  padding-bottom: 92px;
  display: -ms-grid;
  display: grid;
  gap: 80px;
  -ms-grid-rows: -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content;
  -ms-grid-rows: min-content 80px min-content 80px min-content 80px min-content 80px min-content;
  -ms-grid-columns: 100%;
  grid-template: repeat(5, -webkit-min-content)/100%;
  grid-template: repeat(5, min-content)/100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 9.375%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: calc(100% - 6.25%);
    gap: 73px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    max-width: 100%;
    gap: 50px;
    padding-bottom: 66px;
  }
}
