.places {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  padding-bottom: 92px;
  display: -ms-grid;
  display: grid;
  gap: 80px;
  -ms-grid-rows: -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content 80px -webkit-min-content;
  -ms-grid-rows: min-content 80px min-content 80px min-content 80px min-content 80px min-content;
  -ms-grid-columns: 100%;
  grid-template: repeat(5, -webkit-min-content)/100%;
  grid-template: repeat(5, min-content)/100%;
  grid-area: places;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
  width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    width: calc(100% - 2 * 24px);
    gap: 73px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    width: 100%;
    gap: 50px;
    padding-bottom: 66px;
  }
}