.place__paragraphs {
  grid-area: paragraphs;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraphs {
    width: 90%;
    margin: 0 auto;
  }
}