.cover {
  width: calc(100% - 2 * 48px);
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: cover-place;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    width: 100%;
    min-height: 200px;
  }
}